*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.background{
  height: 100vh;
  background: linear-gradient(
    to bottom,
    #009688 0%,
    #009688 20%,
    #DCDBD3 20%,
    #DCDBD3 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenitore principale della chat */
.main-container{
  width: 80%;
  min-height: 95vh;
  z-index: 10;
  background-color: #EAEAEA;
}

/* Lista contatti (sinistra) */
/* Parte avatar personale */
.user-wrapper{
  width: 35%;
  height: 95vh;
  float: left;
  background-color: #fff;
}

.personal-section{
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-avatar{
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

img{
  cursor: pointer;
  border-radius: 50%;
  height: 40px;
  margin: 0 10px;
}

.icons-user{
  color: #B1B1B1;
  padding-right: 10px;
}

.icons-user i {
  cursor: pointer;
  margin: 0 8px;
}

/* Notifiche */
.notification{
  height: 60px;
  background-color: #8EDAFC;
  padding: 10px 20px;
}

.notification i {
  padding: 10px 8px;
  border-radius: 50%;
  color: #8EDAFC;
  background-color: #fff;
  float: left;
}

.notification span{
  font-size: 0.8rem;
  margin-left: 10px;
  float: left;
}

.notification span:last-of-type{
  color: #547e92;
  font-size: 0.7rem;
  text-decoration: underline;
}

/* Ricerca contatti */
.search-user{
  height: 35px;
  padding: 5px;
  background-color: #FAFAFA;
  text-align: center;
  position: relative;
}

.search-user input{
  width: 95%;
  padding: 5px 40px;
  border: 1px solid #f3f3f3;
  font-size: 0.6rem;
}

.search-user i{
  position: absolute;
  color: #B1B1B1;
  font-size: 0.7rem;
  left: 30px;
  top: 13px;
}

/* Parte chat (destra) */
.chat-wrapper{
  width: 65%;
  height: 95vh;
  float: left;
  background-image: url('../img/mine.jpg');
  background-size: 60%;
}